<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
	<body>
		<br><br>
		<br><br>
		<h2>{{meal.food.name}}</h2>
		<table class="table table-striped table-bordered">
			<thead>
				{% comment %} <tr>
					<th></th>
					<th></th>
				</tr> {% endcomment %}
			</thead>
			<tbody>
				<tr>
					<td>Calories</td>
					<td>{{ meal.get_total_calories }}</td>
				</tr>
				<tr>
					<td>Serving Size</td>
					<td>{{ meal.serving_size }}</td>
				</tr>
				<tr>
					<td>Total Fat</td>
					<td>{{ meal.get_total_fat }}</td>
				</tr>
				<tr>
					<td>Saturated Fat</td>
					<td>{{ meal.food.saturated_fat }}</td>
				</tr>
				<tr>
					<td>Cholesterol</td>
					<td>{{ meal.get_cholesterol }}</td>
				</tr>
				<tr>
					<td>Sodium</td>
					<td>{{ meal.get_sodium }}</td>
				</tr>
				<tr>
					<td>Total Carbohydrade</td>
					<td>{{ meal.get_total_carbohydrate }}</td>
				</tr>
				<tr>
					<td>Dietary Fibre</td>
					<td>{{ meal.get_dietary_fibre }}</td>
				</tr>
				<tr>
					<td>Sugar</td>
					<td>{{ meal.get_sugar }}</td>
				</tr>
				<tr>
					<td>Protein</td>
					<td>{{ meal.get_protein }}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>